<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/test.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
 

  </head>

  <body ng-app="myApp" ng-controller="namesCtrl">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      <div>
        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
          <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
             My Education
        </button>
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> My Education
        </button>
      </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Stanislav</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">

            <div class="form-group">
              <input type="email" placeholder="Email" class="form-control" ng-model="myEmail">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" ng-model="myEmail">
            </div>

            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


      <div class="clearfix" style="height:100px">sgrsfghsdhjgfhj</div>
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-sm-8">.col-sm-8 </div>
              <!--<div class="col-sm-4"> <img src="images\back1.jpg" style="width:100%;height:100%"></img>.col-sm-4</div>-->
              <div class="col-sm-4">.col-sm-4</div>
          </div>
            <div class="row"> 
                <div class="col-sm-6">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th ng-click="orderByMe('fname')">Имя</th>
                                <th ng-click="orderByMe('ename')">Фамилия</th>
                                <th ng-click="orderByMe('email')">Почта</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in names | orderBy:myOrderBy track by $index">
                              <td>{{x.fname}}</td>
                              <td>{{x.ename}}</td>
                              <td>{{x.mail}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                <div class="col-sm-6">
                  <input type="text" class="form-control"  ng-model="fname"><br>
                  <input type="text" class="form-control"  ng-model="ename"><br>
                  <input type="text" class="form-control" ng-model="mymail"><br>
                  <button ng-click="addItem()">Add</button><br>
                  .col-sm-6This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</div> 
            </div> 
          <div class="row">
              <div class="col-sm-12">.col-sm-12</div>
          </div>


              <h1>Hello, world!</h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
      <!--<script type="text/javascript">console.log ($scope.fname,' ',$scope.ename,' ',$scope.email) </script>**/-->

      <footer>
        <p>&copy; 2016 Stanislav Avdonin, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>


  </body>

</html>
